#intro
{
	width: 80%;
	margin: 0 auto;
	font-style: italic;
	display: block;
	font-size: 21px;
	font-weight: 200;
}

.main
{
	padding-top: 40px;
}

.ingreso
{
	width: 50%;
	margin: 0 auto;

}

.login 
{     
	background-color: #8C9CFF; 
	padding: 5px;
}

.register
{
	background-color: #8C9CEE;
	padding: 5px;

}

.footer
{
	color: #dde;
}