html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 3%;
  background-color: #fafbf5;

}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#intro
{
	width: 80%;
	margin: 0 auto;
	font-style: italic;
	display: block;
	font-size: 21px;
	font-weight: 200;
}

.main
{
	padding-top: 40px;
}

.ingreso
{
	width: 50%;
	margin: 0 auto;

}

.login 
{     
	background-color: #8C9CFF; 
	padding: 5px;
}

.register
{
	background-color: #8C9CEE;
	padding: 5px;

}


.notice {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
} 

#Item-content
{
	font-size: 11px;
}

#Item-title
{
	font-size: 13px;
}

.userdata
{
	width: 30%;
	height: auto;
}

.file
{
	.center-block();
	display: inline-block;

}


.checksex
{
	display: block;
}

.imgPerfil
{
	width: 350px;
	height: 350px;
}

